<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Skrlin.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Skrlin.My.MySettings.dubravaConnectionString" connectionString="Data Source=localhost;Initial Catalog=dubrava;Persist Security Info=True;User ID=sa;Password=1502t"
            providerName="System.Data.SqlClient" />
        <add name="Skrlin.My.MySettings.ŠkrlinConnectionString" connectionString="Data Source=localhost;Initial Catalog=Škrlin;Persist Security Info=True;User ID=sa;Password=1502t"
            providerName="System.Data.SqlClient" />
        <add name="Skrlin.My.MySettings.dubravaConnectionString1" connectionString="Data Source=localhost\;Initial Catalog=dubrava;Persist Security Info=True;User ID=sa;Password=1502t"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <Skrlin.My.MySettings>
            <setting name="HL7" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Mirth_host" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="Mirth_send_port" serializeAs="String">
                <value>6661</value>
            </setting>
            <setting name="Mirth_receive_port" serializeAs="String">
                <value>6660</value>
            </setting>
        </Skrlin.My.MySettings>
    </applicationSettings>
</configuration>
